<!DOCTYPE html>
<html>

<head>
	<title>Media Grab control panel</title>
	<meta charset=utf-8>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="/favicon.ico">
</head>

<body>

	<h1>Media Grab control</h1>
	<div id="pageContent">
		<div id="displayPanel" class="panel">
			<h3>Current MediaIndex.json content:</h3>

			<table id="mediaIndexContent">
				<tr>
					<th>Name</th>
					<th>Latest Season</th>
					<th>Latest Episode</th>
					<th>Blacklist terms</th>
					<th>Remove</th>
				</tr>
				<tr v-for="(item, itemIndex) in content"
					v-bind:class="item['typeSpecificData']['latestEpisode'].content != 1 ? 'active' : 'inactive'">



					<td>
						<input 	type="text" v-if="item['name'].edit" 
								v-model="item['name'].content"							
								@blur="confirmItemEdit(item, item['name'], itemIndex);"
								@keyup.enter="confirmItemEdit(item, item['name'], itemIndex);">
						<div v-else>
							<label @click="makeFieldEditable(item['name']);"> {{ item['name'].content }} </label>
						</div>
					</td>
					<td>
						<input type="number" v-if="item['typeSpecificData']['latestSeason'].edit"
							v-model="item['typeSpecificData']['latestSeason'].content"
							@blur="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);"
							@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);">
						<div v-else>
							<label @click="makeFieldEditable(item['typeSpecificData']['latestSeason']);"> {{
								item['typeSpecificData']['latestSeason'].content }} </label>
						</div>
					</td>
					<td>
						<input type="number" v-if="item['typeSpecificData']['latestEpisode'].edit"
							v-model="item['typeSpecificData']['latestEpisode'].content"
							@blur="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);"
							@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);">
						<div v-else>
							<label @click="makeFieldEditable(item['typeSpecificData']['latestEpisode']);"> {{
								item['typeSpecificData']['latestEpisode'].content }} </label>
						</div>
					</td>
					<td>
						<div v-for="blacklistTerm in item.blacklistTerms">
							<input 	v-if="blacklistTerm.edit"
									v-model="blacklistTerm.content" 
									@blur="confirmItemEdit(item, blacklistTerm, itemIndex);"
									@keyup.enter="confirmItemEdit(item, blacklistTerm, itemIndex);">
							<div v-else>
								<p 	@click="makeFieldEditable(blacklistTerm);" >
									{{ blacklistTerm.content }}
								</p>
							</div>
						</div>
					</td>



					<!-- <td>{{ item['name'] }}</td> -->
					<!-- <td>{{ item["typeSpecificData"]["latestSeason"] }}</td>
                        <td>{{ item["typeSpecificData"]["latestEpisode"] }}</td> -->
					<!-- <td>
                            <p v-for="blacklistTerm in item.blacklistTerms">{{ blacklistTerm }}</p>
                        </td> -->
					<td>
						<button class="btn" @click="xButtonClicked(item['name'])"><i class="fa fa-close"></i></button>
					</td>
				</tr>
			</table>
		</div>

		<div id="inputPanel" class="panel">
			<h3>Add new MediaIndex record:</h3>

			<form action="/MediaInfoRecord" method="POST">

				<div class="row">
					<div class="col-25">
						<label for="mediaName">Media Name</label>
					</div>
					<div class="col-75">
						<input type="text" id="mediaName" name="mediaName"
							placeholder="Enter the name of the tv show you want to watch..">
					</div>
				</div>


				<div class="row">
					<div class="col-25">
						<label for="latestSeason">Latest Season:</label>
					</div>
					<div class="col-75">
						<input type="number" id="latestSeason" name="latestSeason" min="1">
					</div>
				</div>

				<div class="row">
					<div class="col-25">
						<label for="latestEpisode">Latest Episode:</label>
					</div>
					<div class="col-75">
						<input type="number" id="latestEpisode" name="latestEpisode" min="1">
					</div>
				</div>

				<div class="row">
					<div class="col-25">
						<label for="blacklistTerms">Blacklist terms:</label>
					</div>
					<div class="col-75">
						<textarea id="blacklistTerms" name="blacklistTerms"
							placeholder="Enter terms to avoid while searching for this show, separated by commas.."
							style="height:200px"></textarea>
					</div>
				</div>
				<div class="row">
					<input type="submit" value="Submit">
				</div>

			</form>
		</div>
	</div>

	<!-- script references -->
	<script type="text/javascript" src="/node_modules/vue.js"></script>
	<script type="text/javascript" src="/node_modules/axios.js"></script>
	<script type="text/javascript" src=/js/index.js></script>
</body>

</html>