<!DOCTYPE html>
<html>

<head>
	<title>Media Grab control panel</title>
	<meta charset=utf-8>
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="icon" href="/favicon.ico">
</head>

<body>

	<div id="titlePanel">
		<h1>Media Grab control</h1>
	</div>

	<div id="pageContent" class="container">
		<div class="row">
			<div class="col-lg-8">
				<div id="displayPanel" class="panel">
					<h2>Current MediaIndex.json content:</h2>

					<div id="mediaIndexContent">
						<table>
							<tr>
								<th>Name</th>
								<th>Season</th>
								<th>Episode</th>
								<th>Blacklist</th>
								<th>Remove</th>
							</tr>
							<tr v-for="(item, itemIndex) in content"
								v-bind:class="item['typeSpecificData']['latestEpisode'].content != 1 ? 'active' : 'inactive'">

								<td>
									<input 	type="text" v-if="item['name'].edit" 
											v-model="item['name'].content"							
											@blur="confirmItemEdit(item, item['name'], itemIndex);"
											@keyup.enter="confirmItemEdit(item, item['name'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['name']);"> {{ item['name'].content }} </label>
									</div>
								</td>
								<td>
									<input type="number" v-if="item['typeSpecificData']['latestSeason'].edit"
										v-model="item['typeSpecificData']['latestSeason'].content"
										@blur="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);"
										@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestSeason'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['typeSpecificData']['latestSeason']);"> {{
											item['typeSpecificData']['latestSeason'].content }} </label>
									</div>
								</td>
								<td>
									<input type="number" v-if="item['typeSpecificData']['latestEpisode'].edit"
										v-model="item['typeSpecificData']['latestEpisode'].content"
										@blur="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);"
										@keyup.enter="confirmItemEdit(item, item['typeSpecificData']['latestEpisode'], itemIndex);">
									<div v-else>
										<label @click="makeFieldEditable(item['typeSpecificData']['latestEpisode']);"> {{
											item['typeSpecificData']['latestEpisode'].content }} </label>
									</div>
								</td>
								<td>
									<div id="blacklistPanel" class="flex-direction row">
										<div class="blacklistPanelColumn col-md-10">
											<div v-for="blacklistTerm in item.blacklistTerms">
												<input 	v-if="blacklistTerm.edit"
														v-model="blacklistTerm.content" 
														@blur="confirmItemEdit(item, blacklistTerm, itemIndex);"
														@keyup.enter="confirmItemEdit(item, blacklistTerm, itemIndex);">
												<div v-else>
													<button id="blacklistTermRemoveButton" class="btn" i @click="showModal(() => { removeBlacklistTerm(item, itemIndex, blacklistTerm); }, `Are you sure you want to remove blacklist term ${blacklistTerm.content}?`);"><i class="fa fa-close"></i></button>
													<label 	@click="makeFieldEditable(blacklistTerm);" >
														{{ blacklistTerm.content }}
													</label>
												</div>
											</div>
										</div>
										<div class="blacklistPanelColumn col-md-2">
											<input 	v-if="item.newPotentialBlacklistItem.edit"
													v-model="item.newPotentialBlacklistItem.content" 
													@blur="addNewBlacklistTerm(item, itemIndex);"
													@keyup.enter="addNewBlacklistTerm(item, itemIndex);">
											<button class="btn" v-else v-on:click="item.newPotentialBlacklistItem.edit = true;">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</td>
								<td>
									<button class="btn" i @click="showModal(() => { deleteMediaInfoRecord(itemIndex); }, `Are you sure you want to remove ${item.name.content}?`);"><i class="fa fa-close"></i></button>
								</td>
							</tr>
						</table>

						<div id="modalPanel">
							<modal v-if="modalVisible">
								<h3 slot="header">{{ modalText }}</h3>
								<div slot="footer">
									<button class="btn modal-default-button" @click="confirmCloseModal();">
									OK
									</button>
									<button class="btn modal-default-button" @click="cancelCloseModal();">
									Cancel
									</button>
								</div>
							</modal>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div id="inputPanel" class="panel">
					<h2>Add new MediaIndex record:</h2>

					<form name="newMediaInfoRecord" class="inputForm">

						<div class="row">
							<div class="col-sm-4">
								<label for="mediaName">Media Name</label>
							</div>
							<div class="col-sm-8">
								<input type="text" id="mediaName" name="mediaName"
									placeholder="Enter the name of the tv show you want to watch..">
							</div>
						</div>


						<div class="row">
							<div class="col-sm-4">
								<label for="latestSeason">Latest Season:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="latestSeason" name="latestSeason" min="1">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<label for="latestEpisode">Latest Episode:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="latestEpisode" name="latestEpisode" min="1">
							</div>
						</div>

						<div class="row">
							<div>
								<label for="blacklistTerms">Blacklist terms:</label>
							</div>
							<div>
								<textarea id="blacklistTerms" name="blacklistTerms"
									placeholder="Enter terms to avoid while searching for this show, separated by commas.."
									style="height:200px"></textarea>
							</div>
						</div>
						<div class="row">
							<button class="btn main-button" type="button"@click="submitNewMediaInfoRecord">Submit</button>
						</div>

					</form>
				</div>

				<div id="triggerPanel" class="container panel panel-default">
					<div class="row panel-body">
						<div :class="spinnerParentClass">
							<button class="btn main-button" id="runMediaGrabButton" type="button" @click="runMediaGrab">Run MediaGrab</button>
							
							<span class="loader" v-if="running"></span>
						</div>
						<div class="col-sm">
							<p id="runMediaGrabResponsePanel">{{ responseMessage }}</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="templatePanel">
			<script type="text/x-template" id="modal-template">
				<transition name="modal">
				  <div class="modal-mask">
					<div class="modal-wrapper">
					  <div class="modal-container">
		  
						<div class="modal-header">
						  <slot name="header">
							Are you sure?
						  </slot>
						</div>
		  
						<div class="modal-footer">
						  <slot name="footer"></slot>
						</div>
					  </div>
					</div>
				  </div>
				</transition>
			  </script>
		</div>
	</div>

	<!-- script references -->
	<script type="text/javascript" src=/public/js/index.js></script>
</body>

</html>